<!DOCTYPE html>
<html lang="en" dir="rtl" ng-app="minisite">

<% var data = {
        title: "Minisite | First Page",
        author: "Alex Morozov",
        images : {
            logo: require('./../../img/logo.svg'),
            logo_paz: require('./../../img/logo-paz.png'),
            logo_broadcom: require('./../../img/logo-broadcom.png'),
            logo_samsung: require('./../../img/logo-samsung.png'),
            logo_agency: require('./../../img/logo-agency.png')
        }
       };
%>

<%= _.template(require('./../includes/head.html'))(data) %>

<body>
    <div class="page-wrapper">
        <%= _.template(require('./../includes/header.html'))(data) %>

        <main class="page-main">
            <%= _.template(require('./../includes/features.html'))(data) %>
            <%= _.template(require('./../includes/callback.html'))(data) %>
        </main>

    </div>


</body>
</html>
