$color-dark: #000000;
$color-light: #FFFFFF;
$color-primary: #00aaa6;

$bg-primary: #00aaa6;
$bg-second: #d73c48;

$bg-dark: #000000;
$bg-light: #FFFFFF;
$bg-transparent-light: rgba(255,255,255,0.8);
$bg-transparent-gray: rgba(100,100,100,0.2);
$bg-transparent-dark: rgba(0,0,0,0.8);

$tablet-width: 750px;
$desktop-width: 1024px;
$big-desktop-width: 1266px;
$mobile-width-only: 767px;
